*.csv
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.zip
*.jpg
*.jpeg
*.xml
*.json
*.msg
*.html
*.js
*.css
*.Rd
*.xlsx
*.ipynb
*.cfg
*.hdf5
telegram-send.conf
api_keys.json
stored_functions.py
.vscode/
__pycache__/
examples/
.Rproj.user
.rds
*.log
*.one
*.png
png_test.png
